@mixin _slider__nav($type, $nav_width) {
  &.#{$type} {
    $offset_x: 0;
    @if $type == prev {
      left: 0;
    } @else {
      right: 0;
      $offset_x: -$nav_width;
    }
    background-position: $offset_x (-$nav_width * 3);
    cursor: default;
    &.enabled {
      background-position: $offset_x 0;
      cursor: pointer;
      &:hover    { background-position: $offset_x (-$nav_width); }
      &:active   { background-position: $offset_x (-$nav_width * 2); }
    }
  }
}

@mixin slider($nav_width: 40px, $nav_sprite: "structures/slider__nav.png") {
  position: relative;
  padding: 0 !important;
  min-height: 24px;
  > .slide-display {
    height: 100%;
    margin: 0 $nav_width;
    overflow: hidden;
    position: relative;
    > .slide-line {
      position: absolute;
      top: 0;
      width: 10000px;
      height: 100%;
      > .item {
        float: left;
        display: block;
      }
    }
  }
  > .nav {
    display: block;
    width: $nav_width !important;
    height: 100%;
    position: absolute;
    top: 0;
    @if $nav_sprite {
      background: image-url($nav_sprite) 1000px center no-repeat;
    }
    @include _slider__nav(prev, $nav_width);
    @include _slider__nav(next, $nav_width);
  }
}
